.custom-navbar {
background-color: #06281E;
  }
  
body {
background-color: #ECE6DB;
 }

.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 400px; 
margin: 0 auto; 
margin-top: 55px;
border: solid red;

}

.center-container {
    

}
  
h2 {
margin-bottom: 20px;
}
  
.form-group {
 margin-bottom: 20px;
  }
  
  .form-control {
 width: 46%; 
  }
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
  }
  

 /* .btn-primary {
 width: 30%; 
  } */

  #next-button {
    background-color: red;
    border: solid green;
  
  }

  .button-container {
    display: flex;
    flex-direction: column;
    max-width: 25%;

  }

  .down-row {
    margin-top: 200px;
  }

  .header-font {
    font-family: monospace;
  }
  
 .text-center {
  font-family: monospace;
 }

 .custom-bg-light-sage {
  background-color: #D9D9D9; /* Light Sage for footer */
}

.custom-text-color-pink {
    color: #D28E7E; /* Light pink for header */
}

.custom-button:hover {
  background-color: #D28E7E; 
  color: white;
}
